<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h3>Welcome to the report export service</h3>
    <h4>to get a report using a report ID, go to /ID/FORMAT</h4>
    <p>Where ID is the report ID and FORMAT is the format. <br>
        Available formats: pdf, xml <br>
        Available IDs: 1,2,4
    </p>
    <p>For example http://127.0.0.1:5000/4/xml </p>
</body>
</html>