<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report ID: {{ reportID }}</title>
</head>
<body>
    <body>
        <h2>Report ID: {{ reportID }}</h2>
        <h4>Organization: {{ organizationName }}<br>
        Reported on: {{ reported_at }}<br>
        Created on: {{ created_at }}</h4>
        <br>
        <br>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
            {% for item in inventory %}
            <tr>
               <td class="c2">{{item.name}}</td>
               <td class="c2">{{item.price}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</body>
</html>